<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>{{title}}</title>
    <meta name="Keywords" content="{{title}}">
    <meta name="Description" content="{{title}}">
    <meta name="renderer" content="webkit">
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <script>
        var STATIC_URL = "static/";
        var GLOBAL_URL = "";
        var UPLOAD_URL = "upload/" ;
        var SITE_URL = "";
    </script>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen">
    <script src="{% static 'js/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/prefixfree.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.mousewheel.js' %}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'css/cx.css' %}" type="text/css" media="screen">
    <script src="{% static 'js/tools.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/template.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/site/init.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/site/ui.js' %}" type="text/javascript" charset="utf-8"></script>
    <SCRIPT type=text/javascript src="{% static 'js/gd.js'%}"></SCRIPT>

    <link href="{% static 'css/css.css'%}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'js/jquery-1.9.0.min.js'%}"></script>
    <script src="{% static 'js/event.js'%}" type="text/javascript"></script>
</head>
<body>
    {% include "polls/Menu.html" %}
    {% include "polls/index/banner.html" %}
    <div class="warm" style="background:url({% static 'web/bjt.jpg' %}) no-repeat scroll 0% 0% transparent;">
        <div class="pro-fi">
            <div class="intoentit"><img src="{% static 'web/news_files/company_22.png' %}" alt="Brand Profile" width="326" height="34"></div>
            <div class="intocntit">发展历程</div>
        </div>
        <div class="leri  w1000">
            <div class="sitecon">
                <div class="w960 site">
                    <div class="innner-con clear ">
                        <div class="history-list">
                            <a href="javascript:void(0)" class="prev02 listNext"></a>
                            <a href="javascript:void(0)" class="next02 listPrev"></a>
                            <div class="history-scroll listBox">
                                <ul class="clear">
                                    <li class="cur">
                                        <div class="hisnav-bg02"></div>
                                        <div class="hisnav-bg01"></div>
                                        <div class="hisnav-bg03"></div>
                                        <div class="hisnav-img"><img src="{% static 'img/history_bg04.png'%}" width="67" height="67"></div>
                                        <p id="kaishi_0">2019</p>
                                    </li>
                                    <li class="cur">
                                        <div class="hisnav-bg02"></div>
                                        <div class="hisnav-bg01"></div>
                                        <div class="hisnav-bg03"></div>
                                        <div class="hisnav-img"><img src="{% static 'img/history_bg04.png'%}" width="67" height="67"></div>
                                        <p id="kaishi_1">2018</p>
                                    </li>
                                    <li class="cur">
                                        <div class="hisnav-bg02"></div>
                                        <div class="hisnav-bg01"></div>
                                        <div class="hisnav-bg03"></div>
                                        <div class="hisnav-img"><img src="{% static 'img/history_bg04.png'%}" width="67" height="67"></div>
                                        <p id="kaishi_2">2017</p>
                                    </li>
                                    <li class="cur">
                                        <div class="hisnav-bg02"></div>
                                        <div class="hisnav-bg01"></div>
                                        <div class="hisnav-bg03"></div>
                                        <div class="hisnav-img"><img src="{% static 'img/history_bg04.png'%}" width="67" height="67"></div>
                                        <p id="kaishi_3">2016</p>
                                    </li>
                                    <li class="cur">
                                        <div class="hisnav-bg02"></div>
                                        <div class="hisnav-bg01"></div>
                                        <div class="hisnav-bg03"></div>
                                        <div class="hisnav-img"><img src="{% static 'img/history_bg04.png'%}" width="67" height="67"></div>
                                        <p id="kaishi_4">2015</p>
                                    </li>
                                    <li class="cur">
                                        <div class="hisnav-bg02"></div>
                                        <div class="hisnav-bg01"></div>
                                        <div class="hisnav-bg03"></div>
                                        <div class="hisnav-img"><img src="{% static 'img/history_bg04.png'%}" width="67" height="67"></div>
                                        <p id="kaishi_5">2014</p>
                                    </li>
                                    <li class="cur">
                                        <div class="hisnav-bg02"></div>
                                        <div class="hisnav-bg01"></div>
                                        <div class="hisnav-bg03"></div>
                                        <div class="hisnav-img"><img src="{% static 'img/history_bg04.png'%}" width="67" height="67"></div>
                                        <p id="kaishi_6">2013</p>
                                    </li>
                                    <li class="cur">
                                        <div class="hisnav-bg02"></div>
                                        <div class="hisnav-bg01"></div>
                                        <div class="hisnav-bg03"></div>
                                        <div class="hisnav-img"><img src="{% static 'img/history_bg04.png'%}" width="67" height="67"></div>
                                        <p id="kaishi_7">2012</p>
                                    </li>
                                    <li class="cur">
                                        <div class="hisnav-bg02"></div>
                                        <div class="hisnav-bg01"></div>
                                        <div class="hisnav-bg03"></div>
                                        <div class="hisnav-img"><img src="{% static 'img/history_bg04.png'%}" width="67" height="67"></div>
                                        <p id="kaishi_8">2011</p>
                                    </li>
                                    <li class="cur">
                                        <div class="hisnav-bg02"></div>
                                        <div class="hisnav-bg01"></div>
                                        <div class="hisnav-bg03"></div>
                                        <div class="hisnav-img"><img src="{% static 'img/history_bg04.png'%}" width="67" height="67"></div>
                                        <p id="kaishi_9">2010</p>
                                    </li>
                                    <li class="cur">
                                        <div class="hisnav-bg02"></div>
                                        <div class="hisnav-bg01"></div>
                                        <div class="hisnav-bg03"></div>
                                        <div class="hisnav-img"><img src="{% static 'img/history_bg04.png'%}" width="67" height="67"></div>
                                        <p id="kaishi_10">2009</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="event-ajax clear" style="display: none;" id="dk_2019">
                            <div class="event-year fle">2019</div>
                            <div class="event-list fri" id="gallery">
                                <ul class="clear">
                                    <div style="border:none;padding:0cm 0cm 0cm 19.0pt;margin-left:18.0pt;">
                                        <ul>
                                            <li class="MsoNormal" style="margin-left:18pt;text-align:left;">
                                                <b>01</b><b>月可兰素<span>2019</span>年度全国经销商代表大会在西安召开</b><b></b>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li class="MsoNormal" style="margin-left:18pt;text-align:left;">
                                                <b>01</b><b>月可兰素荣获“<span>2018</span>年度卡车之家电商杰出奖”的称号</b><b></b>
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="event-ajax clear" style="display: none;" id="dk_2018">
                            <div class="event-year fle">2018</div>
                            <div class="event-list fri" id="gallery">
                                <ul class="clear">
                                    <h4>
                                        <ul>
                                            <li>
                                                <strong><span style="color:#000000;">1月可兰素2018年度全国经销商代表大会在南京召开</span></strong>
                                            </li>
                                            <li>
                                                <strong>1月可兰素荣获“2018年度绿色环保推优品牌”的称号</strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">2月12日，可兰素荣获“南京市先进集体”的称号&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">2月28日，可兰素荣获“有功企业”称号&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">3月16日，亚太峰会：可兰素和英特杰再相遇&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">3月26日，可兰素喜获卡车用户最信赖车用尿素奖&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">4月12日，东风商用车公司领导来访可兰素&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">4月13日，可兰素喜获圆通“年度优秀供应商”&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">4月18日，可兰素荣获“智慧物流企业社会责任贡献奖”&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">4月27日，延长壳牌加油站第一批可兰素加注站建成投入运营&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;"><strong>7月19日，中国内燃机工业协会标准化工作委员会换届，可兰素成为新任委员之一&nbsp;</strong></span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">10月16日，可兰素第一辆尿素运输罐车正式投入运营&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">11月8日，可兰素参加中联重科中旺分公司2018年度供应商大会&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">11月30日，可兰素受邀2018中国道路运输年会&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">12月4日，可兰素受邀参加第八届国际柴油发动机峰会并作国六实施解决方案的主题报告&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">12月14日，可兰素荣获东风商用车2018年度售后服务优秀供应商奖&nbsp;</span></strong>
                                            </li>
                                            <li>
                                                <strong><span style="color:#000000;">12月17日，可兰素受邀参加中国智慧物流大会&nbsp;<br />
                                                        <br />
                                                    </span></strong>
                                            </li>
                                        </ul>
                                        <p>
                                            <br />
                                        </p>
                                        <br />
                                    </h4>
                                    <p>
                                        <br />
                                    </p>
                                </ul>
                            </div>
                        </div>
                        <div class="event-ajax clear" style="display: none;" id="dk_2017">
                            <div class="event-year fle">2017</div>
                            <div class="event-list fri" id="gallery">
                                <ul class="clear">
                                    <p>
                                        <br />
                                    </p>
                                    <ul>
                                        <li>
                                            <span style="font-size:14px;">01</span><span style="font-size:14px;">月</span><span style="font-size:14px;">&nbsp;可兰素荣获“环保优秀品牌企业”<br />
                                            </span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">02月 可兰素2017年度全国经销商代表大会在重庆召开</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">02月&nbsp;可兰素荣获卡车用户评选“2017年度创新应用推优奖”</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">02月 可兰素运满满特约服务店华东启动会召开</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">02月&nbsp;可兰素-厚德融智蓝天计划启动</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">03月 可兰素高分通过VDA复审</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">03月 可兰素参加2017天津国际客运交通装备与技术展览会<br />
                                            </span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">04月 可兰素参加东南亚（新加坡）柴油发动机峰会</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">05月 可兰素参加石油设备新产品洽谈会（太原）</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">05月 可兰素出席第十届中国发动机排放峰会暨车用尿素（AdBlue®）论坛，总经理发表演讲</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">06月 可兰素参加2017国际环保新技术大会（南京）</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">08月可兰素参加G20 走进北汽车厂论坛（北京）</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">09月可兰素参加广州运通四方项目启动仪式和展会（广州）</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">09月可兰素参加商用车产销联合会，走进龙蟠活动（南京）</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">10月可兰素参加中石化南京分公司浦口经销商会议</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">11月可兰素参加中国内燃机协会，车用尿素水溶液分会</span>
                                        </li>
                                        <li>
                                            <span style="font-size:14px;">12月可兰素参加第七届国际柴油机发动机峰会可兰素</span>
                                        </li>
                                    </ul>
                                    <p>
                                        <br />
                                    </p>
                                </ul>
                            </div>
                        </div>
                        <div class="event-ajax clear" style="display: none;" id="dk_2016">
                            <div class="event-year fle">2016</div>
                            <div class="event-list fri" id="gallery">
                                <ul class="clear">
                                    <li>
                                        <span style="font-size:14px;">02</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素第二届全国经销商代表大会在南京召开</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">03月&nbsp;</span><span style="font-size:14px;line-height:21px;">可兰素获</span><span style="font-size:14px;line-height:21px;">南京市著名商标、南京名牌产品</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">04</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素参加2016天津国际客车、公交车及零部件展会</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">04月 可兰素获中内协车用尿素水溶液分会颁发的唯一“2015年度全国市场质量抽检最佳企业”</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">05月 可兰素参加2016IE expo 2016上海环博会</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">05月 可兰素参加第九届中国发动机排放高峰论坛2016</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">05月 可兰素参加第79届全国汽配会</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">05月 可兰素参加</span><span style="font-size:14px;line-height:21px;">2016年全国科技活动周暨</span><span style="font-size:14px;line-height:21px;">江苏省第二十八届科普宣传周</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">07月&nbsp;可兰素新厂区一次性通过TUV ISO/TS16949审核</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">08月 可兰素召开SCR系统专题培训会</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">08月 可兰素尿素箱清洗剂、杰效环保型发布</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">10月 可兰素协办2016车用发动机节能与排放控制峰会（合肥）</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">11月 可兰素参加首届中国国际商用车及零部件展(昆山)</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">11月 可兰素总经理秦建出席第五届中国国际柴油机峰会（北京）并发言</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;"><span style="font-size:14px;line-height:21px;">11月 可兰素总经理秦建出席</span>第十五届中国汽车产业发展高峰年会（肇庆）<br />
                                        </span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;line-height:21px;">12月 可兰素<span style="font-size:14px;line-height:21px;">总经理秦建出席第四届国际绿色</span>船舶峰会（上海）</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="event-ajax clear" style="display: none;" id="dk_2015">
                            <div class="event-year fle">2015</div>
                            <div class="event-list fri" id="gallery">
                                <ul class="clear">
                                    <li>
                                        <span style="font-size:14px;">01</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素获得中石油2015年供应商资格</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">03</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素首届全国经销商代表大会在南京召开</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">03</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素再次通过SGS检测</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">05</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素第三次顺利通过 API DEF认证</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">05</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> Integer发布调研报告可兰素蝉联中国车用尿素销量冠军</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">06月 可兰素第10000000桶车用尿素正式下线</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">07</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素通过CGT认证</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">10</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素参加中国第四届中国国际柴油发动机峰会</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">12月 可兰素车用尿素正式被中国客车网评选为2016年度客车配套推荐产品</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="event-ajax clear" style="display: none;" id="dk_2014">
                            <div class="event-year fle">2014</div>
                            <div class="event-list fri" id="gallery">
                                <ul class="clear">
                                    <li>
                                        <span style="font-size:14px;">01</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素获得中石油2014年供应商资质</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">01</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素新VI全面发布和启用。可兰素通过ISO9001质量管理体系TUV南德的年度复审</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">03</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素再次顺利通过API DEF认证。可兰素获准加入联合国全球契约组织</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">04</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素正式加入联合国“关注气候变化”国际行动。可兰素再次通过VDA认证年审</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">06</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> “可兰素”杯第8届中国国际客车展在上海隆重举行</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">07</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素高效降解快速散热全生物降解防冻液新包装震撼上市</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">08</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素召开“赢在环保”经销商高峰论坛会议</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">09</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素亮相环渤海汽车后市场服务节，品牌产品双双惊艳全场</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">09月&nbsp;可兰素长寿命型车用尿素“净芯”震撼上市</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">10</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素低温型车用尿素溶液“冰畅”新装上市</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">11</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素车用尿素溶液被列为省高新技术产品</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">12</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素一次性通过TUV ISO/TS16949审核</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="event-ajax clear" style="display: none;" id="dk_2013">
                            <div class="event-year fle">2013</div>
                            <div class="event-list fri" id="gallery">
                                <ul class="clear">
                                    <li>
                                        <span style="font-size:14px;">01</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素手推式加注设备获得发明专利</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">02</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素公司顺利通过TUV质量体系认证</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">04</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素加注设备获得宇通客车认可</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">08</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素AdBlue在香港召开技术交流会</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">09</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素全面启动CNAS认证</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">11</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素通过ISO14001和OHS18001认证</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">12</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素应邀参加国际柴油发动机峰会</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="event-ajax clear" style="display: none;" id="dk_2012">
                            <div class="event-year fle">2012</div>
                            <div class="event-list fri" id="gallery">
                                <ul class="clear">
                                    <li>
                                        <span style="font-size:14px;">01</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素低温（-20℃、-25℃、-30℃）车用尿素成功上市</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">03</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> “可兰素“杯第七届中国国际客车大赛颁奖典礼在南京隆重召开</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">05</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素防冻液获得陕汽认可 可兰素车用AdBlue加注设备通过长春一汽验收</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">10</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素加注设备进军澳大利亚市场</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">11</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素加注设备获得欧盟“CE”认可</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="event-ajax clear" style="display: none;" id="dk_2011">
                            <div class="event-year fle">2011</div>
                            <div class="event-list fri" id="gallery">
                                <ul class="clear">
                                    <li>
                                        <span style="font-size:14px;">01</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 获得德国汽车工业协会的VDA的AdBlue认证</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">08</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素承办“柴油商用车国IV排放及SCR技术应用高峰论坛”</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="event-ajax clear" style="display: none;" id="dk_2010">
                            <div class="event-year fle">2010</div>
                            <div class="event-list fri" id="gallery">
                                <ul class="clear">
                                    <li>
                                        <span style="font-size:14px;">02</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 获得美国石油学会API DEF认证</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">03</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 应邀参加亚洲柴油车排放暨AdBlue论坛</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">04</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素AdBlue加注设备入驻上海世博会</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">07</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素通过宇通客车公司的审核</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">09</span><span style="font-size:14px;">月</span><span style="font-size:14px;"> 可兰素车用尿素溶液产品进军日本市场</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="event-ajax clear" style="display: none;" id="dk_2009">
                            <div class="event-year fle">2009</div>
                            <div class="event-list fri" id="gallery">
                                <ul class="clear">
                                    <li>
                                        <span style="font-size:14px;">08月 江苏可兰素汽车环保科技有限公司成立</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">09</span><span style="font-size:14px;">月&nbsp;</span><span style="font-size:14px;">可兰素车用尿素溶液正式投产</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">10</span><span style="font-size:14px;">月&nbsp;</span><span style="font-size:14px;">完成可兰素车用尿素溶液企业标准初稿</span>
                                    </li>
                                    <li>
                                        <span style="font-size:14px;">11</span><span style="font-size:14px;">月&nbsp;</span><span style="font-size:14px;">通过瑞士SGS检测</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="event-btn">
                            <a href="javascript:void(0)" class=" listNext">下一年</a>
                            <a href="javascript:void(0)" class=" listPrev">上一年</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pro-se w1000">
        <div class="pro-se-th_dk">
            <div class="ul1">
                <div class="li1">
                <a href="{% url 'polls:manage' %}">
                    <img src="{% static 'web/gywm_files/company_45.jpg' %}"  width="76" height="76">
                    <div class="thtit">总经理致辞</div>
                   </a>
                </div>
                <div class="li1">
                <a href="{% url 'polls:social' %}">
                    <img src="{% static 'web/gywm_files/company_47.jpg' %}" width="76" height="76">
                    <div class="thtit">社会责任</div>
                   </a>
                </div>
                <div class="li1">
                <a href="{% url 'polls:story' %}">
                    <img src="{% static 'web/gywm_files/company_50.jpg' %}"  width="76" height="76">
                    <div class="thtit">品牌故事</div>
                    </a>
                </div>
                <div class="li1">
                <a href="{% url 'polls:develop' %}">
                    <img src="{% static 'web/gywm_files/company_52.jpg' %}" width="76" height="76">
                    <div class="thtit">发展历程</div>
                   </a>
                </div>
            </div>
        </div>
    </div>

    {% include "polls/footer.html" %}
    <div style="float:center; font-size:12px; margin-top:8px; margin-bottom:8px; text-align:center; margin-right:13px; display:none"></div>
    <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/banner.js'%}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.ZoomPic.js'%}" type="text/javascript" charset="utf-8"></script>
    </script><script type="text/javascript">

        $(function(){
            culscroll()
            window.onload=function(){
                prozc();
            }
            $(window).scroll(function(){
                culscroll();
            })
        })

    </script>
</body>
</html>