<!DOCTYPE html>
<html lang="en">
{% load static %}
    {% include "polls/Tools/head.html" %}
<body>
    {% include "polls/Menu.html" %}
    {% include "polls/index/banner.html" %}

    <div class="pro-fi">
        <div class="intoentit"><img src="{% static 'web/img/341.png' %}" alt="Brand Profile" width="326" height="34"></div>
        <div class="intocntit">社会责任</div>
    </div>
    <div class="cul-se">
        <div class="leri  w1000">
            <div class="le">
                <p>
                    <span style="font-size:14px;"><strong>力众蓝天</strong></span>
                </p>
               
            </div>
            <div class="ri">
                <img src=" {% static 'uploadfile/201601119161.jpg' %}">
            </div>
        </div>
        <div class="clear clear1"></div>
        <div class="leri  w1000">
            <div class="le1">
                <img src=" {% static 'uploadfile/201601126351.jpg' %}">
            </div>
            <div class="ri1">
            </div>
        </div>
    </div>
    <div class="pro-se w1000">
        <div class="pro-se-th_dk">
            <div class="ul1">
                <div class="li1">
                <a href="{% url 'polls:manage' %}">
                    <img src="{% static 'web/gywm_files/company_45.jpg' %}"  width="76" height="76">
                    <div class="thtit">总经理致辞</div>
                   </a>
                </div>
                <div class="li1">
                <a href="{% url 'polls:social' %}">
                    <img src="{% static 'web/gywm_files/company_47.jpg' %}" width="76" height="76">
                    <div class="thtit">社会责任</div>
                   </a>
                </div>
                <div class="li1">
                <a href="{% url 'polls:story' %}">
                    <img src="{% static 'web/gywm_files/company_50.jpg' %}"  width="76" height="76">
                    <div class="thtit">品牌故事</div>
                    </a>
                </div>
                <div class="li1">
                <a href="">
                    <img src="{% static 'web/gywm_files/company_52.jpg' %}" width="76" height="76">
                    <div class="thtit">发展历程</div>
                   </a>
                </div>
            </div>
        </div>
    </div>

    {% include "polls/footer.html" %}
        <div style="float:center; font-size:12px; margin-top:8px; margin-bottom:8px; text-align:center; margin-right:13px; display:none"></div>
    <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script>

    </script><script type="text/javascript">

        $(function(){
            culscroll()
            window.onload=function(){
                prozc();
            }
            $(window).scroll(function(){
                culscroll();
            })
        })

    </script>


</body>

</html>