<!DOCTYPE html>
<html lang="en">
{% load static %}
    {% include "polls/Tools/head.html" %}
<body>
    {% include "polls/Menu.html" %}
    {% include "polls/index/banner.html" %}

    <div class="pro-fi">
        <div class="intoentit"><img src="{% static 'web/img/341.png' %}" alt="Brand Profile" width="326" height="34"></div>
        <div class="intocntit">社会责任</div>
    </div>
    <div class="cul-se">
        <div class="leri  w1000">
            <div class="le">
                <p>
                    <span style="font-size:14px;"><strong>可兰素正式挂牌南京大学“环境空气污染治理与控制”产学研合作基地</strong></span>
                </p>
                <p>
                    2015年3月28日，可兰素公司在南京举办了主题为“穹顶之下 创赢蔚蓝“全国经销商会议。此次大会可兰素全新VI系统正式亮相，De-NOx标志隆重发布。大会现场，可兰素精彩展示了持畅车用尿素、低硫型柴油机油、低灰型柴油机油、及柴油车系统清洗等系列新产品。
                </p>
                <p>
                    大会同期，南京大学大气环境研究中心主任王体健教授与可兰素总经理秦建一道出席了南京大学与可兰素公司共建“环境空气污染治理与控制”产学研合作基的挂牌仪式。王教授表示，将充分利用双方各自优势，在环境空气污染治理相关领域共同开展新技术与新产品的合作开发。这标志着南京大学与可兰素之间的伙伴关系，继去年九月份签订合作备忘录之后又向前迈进了一大步。
                </p>
                <p>
                    今后，可兰素研发中心将成为南京大学大气、环境、化工等学院师生开展科研实践、将科研成果与产业对接的重要基地，双方还将共同组建科研项目组，全面强化在机动车尾气治理、车内空气污染治理等领域的合作。
                </p>
                <p>
                    <br />
                </p>
            </div>
            <div class="ri">
                <img src=" {% static 'uploadfile/201601119161.jpg' %}">
            </div>
        </div>
        <div class="clear clear1"></div>
        <div class="leri  w1000">
            <div class="le1">
                <img src=" {% static 'uploadfile/201601126351.jpg' %}">
            </div>
            <div class="ri1">
                <p>
                    <strong><span style="font-size:14px;">可兰素获准加入联合国全球契约组织</span></strong>
                </p>
                <p>
                    2014年3月20日，江苏可兰素汽车环保科技有限公司正式获准加入联合国全球契约组织，这不仅体现了可兰素致力于全球环境保护的决心，也为可兰素的发展道路再立里程碑。
                </p>
                <p>
                    联合国全球契约组织是以自愿为基础的全球企业公民组织，号召企业遵守人权、劳工标准、环境及反贪污等方面的十项原则，旨在动员全世界跨国公司与联合国机构联合起来，共同履行社会责任，实现可持续发展。
                </p>
                <p>
                    据了解，目前该组织共有135个国家的8000多个商业和非商业的参与者，多数知名的国内外大型企业集团都加入了该组织。龙蟠也早在2008年10月，便正式成为全球契约的成员。2013年9月，龙蟠的吕振亚副总经理还出席了全球契约在美国纽约举行、由联合国秘书长潘基文亲自主持的领导人峰会。。
                </p>
                <p>
                    可兰素作为江苏龙蟠科技旗下的全资子公司，自2009年成立以来，以保护环境为己任，致力于环保领域内的污染防治工作，创造了行业内的多项第一，成为中国规模最大的AdBlue企业。随着国家环保工作进展步伐的加快，可兰素又紧紧跟随国家环保政策导向，不断推出新产品、持续扩大产能，在国内的市场占有率遥遥领先，目前可兰素产品已经出口到了日本、俄罗斯、澳大利亚、智利、土耳其、新加坡等多个国家，深受国内外用户的好评。
                </p>
                <p>
                    可兰素公司总经理秦建表示：“作为全球契约组织的一员，我们将严格按照全球契约组织的相关规定， 履行全球契约十项原则，并每年向联合国全球契约办公室提交年度进展报告，在可持续发展的道路上不断探索，积极与国际接轨，让可兰素成为一家更加国际化的企业。”
                </p>
                <p>
                    <strong><span style="font-size:14px;">可兰素正式加入联合国“关注气候变化”国际行动</span></strong>
                </p>
                <p>
                    2014年3月底，一封来自联合国“关注气候变化”组织的欢迎信，标志着可兰素正式加入了联合国发起的“关注气候变化”国际行动，同时也再次彰显了江苏可兰素汽车环保科技有限公司关注全球环境的坚定决心。
                </p>
                <p>
                    “关注气候变化”（Caring for Climate）行动由联合国全球契约、环境规划署以及促进可持续发展世界商业理事会于2007年共同发起，参与该项行动的企业必须承诺全面参与到提高能效和减少碳排量的行动之中，并定期向联合国环境署报告企业在提高能耗效率、降低碳排放等方面的改善进展；在尽可能的情况下，支持全社会应对气候变化，目前，已有来自48个国家、30多个行业的300多家企业参加了这一行动。龙蟠在2009年便已成为该行动的成员，今天，龙蟠旗下的可兰素也正式成为了这个大家庭中的一员，和全球的众多企业一起，支持各国政府和社会机构，共同应对全球气候变化。
                </p>
                <p>
                    可兰素自公司成立以来，始终以改善全球生态为己任，努力打造市场领先，技术领先的环保科技企业，可兰素顺应时代和科技进步的要求，先后推出了车用AdBlue,、可生物降解防冻液等汽车环保产品，并自主研发生产了一系列车用AdBlue加注设备，成为了中国市场上名列前茅的AdBlue企业。
                </p>
                <p>
                    江苏可兰素汽车环保科技有限公司总经理秦建表示，可兰素将继续致力于“科技智精，添蓝至简”的理念，通过科技创新、研发创新、产品创新，努力为我国乃至全球的环保事业做出贡献。
                </p>
            </div>
        </div>
    </div>
    <div class="pro-se w1000">
        <div class="pro-se-th_dk">
            <div class="ul1">
                <div class="li1">
                <a href="{% url 'polls:manage' %}">
                    <img src="{% static 'web/gywm_files/company_45.jpg' %}"  width="76" height="76">
                    <div class="thtit">总经理致辞</div>
                   </a>
                </div>
                <div class="li1">
                <a href="{% url 'polls:social' %}">
                    <img src="{% static 'web/gywm_files/company_47.jpg' %}" width="76" height="76">
                    <div class="thtit">社会责任</div>
                   </a>
                </div>
                <div class="li1">
                <a href="{% url 'polls:story' %}">
                    <img src="{% static 'web/gywm_files/company_50.jpg' %}"  width="76" height="76">
                    <div class="thtit">品牌故事</div>
                    </a>
                </div>
                <div class="li1">
                <a href="">
                    <img src="{% static 'web/gywm_files/company_52.jpg' %}" width="76" height="76">
                    <div class="thtit">发展历程</div>
                   </a>
                </div>
            </div>
        </div>
    </div>

    {% include "polls/footer.html" %}
        <div style="float:center; font-size:12px; margin-top:8px; margin-bottom:8px; text-align:center; margin-right:13px; display:none"></div>
    <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script>

    </script><script type="text/javascript">

        $(function(){
            culscroll()
            window.onload=function(){
                prozc();
            }
            $(window).scroll(function(){
                culscroll();
            })
        })

    </script>


</body>

</html>