{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>{{title}}</title>
    <meta name="Keywords" content="{{title}}">
    <meta name="Description" content="{{title}}">
    <meta name="renderer" content="webkit">
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <script>
        var STATIC_URL = "static/";
        var GLOBAL_URL = "";
        var UPLOAD_URL = "upload/" ;
        var SITE_URL = "";
    </script>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen">
    <script src="{% static 'js/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/prefixfree.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.mousewheel.js' %}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'css/cx.css' %}" type="text/css" media="screen">
    <script src="{% static 'js/tools.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/template.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/site/init.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/site/ui.js' %}" type="text/javascript" charset="utf-8"></script>


</head>